/* Landing Page CSS */

.header-color {
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 768px) {
  .landing-grid {
    background-image: url("https://i.ibb.co/5knkcmD/indir.png");
    background-size: 100%;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .landing-grid {
    background-image: url("https://i.ibb.co/5knkcmD/indir.png");
    background-size: 100%;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.navigation-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin: auto;
}

/* Projects Page CSS */

@media only screen and (min-width: 768px) {
  .projects-card {
    width: 22em;
    height: 19em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: auto; 
  }
}

@media only screen and (max-width: 768px) {
  .projects-card {
    width: 22em;
    height: 19em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: auto; 
  }
}

@media only screen and (min-width: 768px) {
  .projects-grid {
    display: flex;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
  }
}

@media only screen and (max-width: 768px) {
  .projects-grid {
    display: inline;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
  }
}

/* Resume Page CSS */

.resume-right-col {
  background: white;
  color: black;
  padding: 2em;
}

.name {
  padding-top: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.title {
  color: #3F51B5;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.info {
  color: grey;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.resume-hr-small {
  height: 3px;
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 50%;
}

.resume-h5 {
  color: #3F51B5;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/* Resume.Js Page CSS */

.resume-h4 {
  color: rgb(49, 49, 49);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 0px;
}

.resume-h6 {
  color: rgb(49, 49, 49);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 0px;
}

.resume-hr-tall {
  height: 3px;
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Skills.js Page CSS */

.progress {
  width: 75%;
  margin-top: 20px;
}

.skill-name {
  font-size: 1.2em;
  color: rgb(49, 49, 49);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 0px;
}

/* Contact Page CSS */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Montserrat', sans-serif;
}

.contact-grid p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

@media only screen and (min-width: 768px) {
  .avatar-img{
    height: 250px;
    margin-top: 1em;
    border-radius: 50%;
    border: 1.5px solid black;
    box-shadow: 0 0 10px black;
  }
}

@media only screen and (max-width: 768px) {
  .avatar-img{
    height: 9.375em;
    margin-top: 1em;
    border-radius: 50%;
    border: 1.5px solid black;
    box-shadow: 0 0 10px black;
  }
}

.banner-text {
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  opacity: 0.8;
  border: 1.5px solid black;
  border-radius: 8px;
  width: 70%;
  margin: auto;
  box-shadow: 0 0 10px black;
  margin-top: 1em;
}

@media only screen and (min-width: 768px) {
  .banner-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    font-weight: bold;
    color: white;
    padding: 1px;
  }
}

@media only screen and (max-width: 768px) {
  .banner-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding: 1px;
  }
}

@media only screen and (max-width: 1024px) {
  .material-icons {
    color: white;
    border-style: solid;
    border-width: medium;
    border-color: white;
    border-radius: 0.1em;
  }
}

@media only screen and (min-width: 768px) {
  .drawer-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: auto;
    color: grey;
  }  
}

@media only screen and (max-width: 768px) {
  .drawer-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin: auto;
    color: grey;
  }  
}

@media only screen and (min-width: 768px) {
  .banner-text p {
    font-family: 'Montserrat', sans-serif;
    color:  white;
    font-size: 1.4em;
    font-weight: bold;
    padding: 1em;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .banner-text p {
    font-family: 'Montserrat', sans-serif;
    color:  white;
    font-size: 0.7em;
    font-weight: bold;
    padding: 1em;
    margin-bottom: 0px;
  }
}

.banner-text hr {
  border-top: 4px solid white;
  width: 55%;
  margin: auto;
}

.social-links {
  display: inline-block;
  justify-content: space-between;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .social-links i {
    color: black;
    font-size: 4.5em;
    padding: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .social-links i {
    color: black;
    font-size: 2em;
    padding: 11px;
  }
}